*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.295);
}
.header>span{
    display: inline-block;
    width: 100px;
    height: 100px;
   
    margin-top: -25px;
    margin-left: 20px;
    
}

.header>span>a{
    display: inline-block;
    width: 100px;
    height: 75px;
    background:url(../图片/QQ音乐-01.png) no-repeat 0 0;
    background-size: 100px 100px;
    opacity: 0.5;
    cursor: pointer;
}
.header>span>a:hover{
    opacity: 1;
}
.header>ul{
    float: right;
    list-style: none;
}
.header>ul>.login{
    color: white;
    float: left;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    opacity: 0.5;
    cursor: pointer;
}
.header>ul>.login:hover{
    opacity: 1;
}
.header>ul>.set{
    color: white;
    float: left;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    opacity: 0.5;
    cursor: pointer;
}
.header>ul>.set:hover{
    opacity: 1;
}
.content{
    width: 100%;
    height: 600px;
    background-color: blue;
}
.content>.content_in{
    width: 1340px;
    height: 100%;
    background-color: pink;
    margin: 0 auto;
}
.content>.content_in>.content_in_left{
    width: 800px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
}
.content_tools{
    list-style: none;
    background-color: rgb(0, 0, 0);
}
.content_tools>li{
    display: inline-block;
    width: 122px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    border: 2px solid white;
}
.content_tools>li>img{
    vertical-align: -3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.content_tools>li:hover{
    opacity: 1;
}
.content_list{
    height: 556px;
}
.content_list ul{
    list-style: none;
    
}
.content_list ul>li{

    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    user-select: none;
}
.content_list ul>li>div{
    float: left;
    line-height: 50px;
    color: white;
    opacity: 0.5;
}
.content_list ul>li>.check{
    width: 50px;
    height: 100%;

    text-align: center;
}
.content_list ul>li>.checked{
    background: url(../图片/√.png) no-repeat 17px 17px;
}
.content_list ul>li>.check>span{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid white;

}
.content_list ul>li>.number{
    width: 20px;
    height: 100%;

}
.content_list ul>li>.name{
    width: 50%;
    height: 100%;

}
.content_list ul>li>.singer{
    width: 20%;
    height: 100%;

}
.content_list ul>li>.time{

    height: 100%;

}
.list_menu{
    display: inline-block;
    float: right;
    display: none;
}
.list_menu a{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 7px;
}
.list_menu a:nth-child(1){
    background-image: url(../图片/播放.png);
    background-size: 36px 36px;
}
.list_menu a:nth-child(2){
    background-image: url(../图片/添加到\ \(2\).png);
    background-size: 36px 36px;
}
.list_menu a:nth-child(3){
    background-image: url(../图片/下载\ \(2\).png);
    background-size: 36px 36px;
}
.list_menu a:nth-child(4){
    background-image: url(../图片/分\ 享.png);
    background-size: 36px 36px;
}
.time>a{
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    background-image: url(../图片/删\ 除\ .png);
    background-size: 20px 20px;
    display: none;
}
.content>.content_in>.content_in_right{
    width: 540px;
    height: 100%;
    background-color: crimson;
    float: right;
    
}
.content_in_right .sing_info{
    text-align: center;
}
.content_in_right .sing_info>a{
    width: 200px;
    height: 180px;
    display: inline-block;
    text-align: left;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/album_cover_player.png?max_age=2592000&v=23ea536d34facedf9ae4169d95b1056e) no-repeat 0 0;
}
.content_in_right .sing_info>a>img{
    width: 180px;
    height: 180px;
    
}
.content_in_right .sing_info>p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content_in_right .sing_info>p>a{
    text-decoration: none;
    color:white;
    opacity: 0.5;
    line-height: 50px;
}
.content_in_right .sing_info>p>a:hover{
    opacity: 1;
}

.content_in_right .sing_lyric{
    text-align: center;
    height: 170px;
    margin-top: 45px;
}
.content_in_right .sing_lyric>li{
    text-align: center;
    list-style: none;
    color: white;
    font-size: 25px;
    opacity: 0.5;
    line-height: 40px;
}
.content_in_right .sing_lyric .on{
    opacity: 1;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: green;
    position: absolute;
    bottom: 0;
}
.footer>.footer_in{
    width: 1340px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.footer>.footer_in>.left_menu{
    display: inline-block;
    float: left;
}
.footer>.footer_in>.left_menu>a{
    display: inline-block;
    margin-right: 15px;
    margin-left: 13px;
}
.footer>.footer_in>.left_menu>a>img{
    width: 25px;
    height: 25px;
}
.footer>.footer_in>.left_menu>a>.playToggle{
    width: 30px;
    height: 30px;
}
.footer>.footer_in>.middle_menu{
    display: inline-block;
    width: 580px;
    height: 40px;
    margin-left: 40px;
    float: left;
    background-color: blue;
}
.footer>.footer_in>.right_menu{
    display: inline-block;
    float: left;
    margin-left: 30px;
}
.footer>.footer_in>.right_menu>a{
    display: inline-block;
    margin-right: 10px;
    margin-left: 13px;
    margin-top: 5px;
}
.footer>.footer_in>.right_menu>a>img{
    width: 25px;
    height: 25px;
}
.footer>.footer_in>.right_menu>a .switch{
    width: 50px;
    height: 25px;
}
.footer>.footer_in>.voiceChange{
    margin-left: 13px;
    float: left;
    display: inline-block;
}
.footer>.footer_in>.voiceChange>a{
    display: inline-block;
    margin-top: 5px;
}
.footer>.footer_in>.voiceChange>a>img{
    width: 25px;
    height: 25px;
}
._mCS_1 .mCSB_scrollTools .mCSB_dragger_bar{
    width: 8px;
}